.about-header {
  margin-top: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: center;
}
.description {
  width: 90%;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 3em;
}

.about-page p {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) {
  .description {
    width: 60%;
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .about-header {
    margin-top: 5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 80%;
  }
}