.footer {
  background: #D8E2DC;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
}

.footer .footer-bottom {
  background: #D8E2DC;
  color: #656565;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid #656565;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-pages {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  text-align: center;
}

.footer-pages > li {
  display: inline;
  list-style: none;
  color: #070707;
  font-size: 1rem;
  padding: 0.7rem;
}

.footer-pages > li > a {
  color: inherit;
  text-decoration: none;
}

.facebook, .instagram {
  width: 33px;
  height: 33px;
}

.footer-links > li {
  display: inline;
  padding: 0.7rem;

}

.footer-links {
  margin-top: 2rem;
  text-align: center;
}