.homes-header {
  margin-top: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: center;

}

.description {
  width: 50%;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 5em;
}

.gallery-header {
  margin-top: 1em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  margin-left: 5%;
}

p {
  font-family: 'Roboto', sans-serif;
}

.galleryI {
  width: 97%;
  margin: 1.5%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .homes-header {
    margin-top: 5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 85%;
  }

  .galleryI {
    width: 30%;
    margin: 1.5%;
    height: 15em;
  }
}


  