.intro-div {
  background: black;
  width: 100%;
  height: 100%;
  color: #fff;
}

.introImage {
  margin-left: 66.7vw;
  width: 100%;
}

.imager {
 width: 30.7vw;
 margin-top: 0.5vw;
 margin-bottom: 0.5vw;
}

.introWords{
  float: left;
}

@media only screen and (min-width 768px) {

}
