.intro-div {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.501);
  color: black;
  height: 70vh;
  position: relative;
  text-align: center;
}

.intro-div:before {
 content: '';
 background: url('../images/front.jpg') no-repeat;
 background-size: 100%;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.home-image{
  display: none;
}

.small-logo {
  width: 50px;
}

.intro-inner {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.quote {
  margin-top: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.quote .box {
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box; 
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: -10px 10px 30px rgba(0,0,0,.2);
}

.quote .box:hover {
  box-shadow: -20px 50px 100px rgba(0,0,0,.2);
}

.quote .box p {
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}

.quote .box h4 {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.quote .box:after {
  content: url("../images/quote.png");
  position: absolute;
  bottom: -50px;
  right: 10px;
  opacity: .1;
  color:black;
  width: 50%;
  height: auto;
}

.employee {
  background: url('../images/spray.webp') no-repeat;
background-size: 100%;
}

.landing-header {
  margin-top: 1em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 2em;
}

.description {
  width: 60%;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.quality {
  background-color: #E6E8E6;
  text-align: center;
  margin-bottom: 2em;
}

.quality-image {
  width: 100%;
}

.quality-description {
  width: 100%;
  padding-top: 10%;
}

.quality-header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
}


@media only screen and (min-width: 768px) {
  .quote .box:after {
    content: url("../images/quote.png");
    position: absolute;
    bottom: -50px;
    right: -150px;
    opacity: .1;
    color:black;
    width: 50%;
    height: auto;
  }

   .intro-div {
    padding-top: 20px;
    background-color: #070707;
    color: #fff;
    height: 79vh;
    position: relative;
    text-align: center;
    margin-top: 5px;
  }
  
  .intro-div:before {
   background: none;
   position: absolute;
  
   width: 100%;
   height: 100%;
   z-index: -1;
  }

  .home-image{
    display: inline;
    margin-left: 50%;
    size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 5px #070707 solid;
  }
  
  .intro-inner {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 40%;
    margin-left: 5%;
    margin-right: auto;
    padding-top: 5rem;
  }

  .employee {
    background: url('../images/spray.webp') no-repeat;
 background-size: 100%;
  }

  .landing-header {
    margin-top: 0em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    padding-top: 2em;
    margin-right: 59%;
  }

  .description {
    width: 60%;
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .quality {
    background-color: #E6E8E6;
    text-align: center;
    margin-bottom: 2em;
  }

  .quality-image {
    width: 50%;
  }

  .quality-description {
    width: 40%;
    float: left;
    padding-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .quality-header {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
  }
}

/* font-family: 'Roboto', sans-serif; */
